.App {

  


}

#form{
display: grid;
  grid-template-columns: inherit fit-content (100%)    ;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header "
    " sidebar main"

    

}
.btn-group-vertical{


 max-width: 90px !important;
}

Button{

width: 80px !important;

  height: 90px
}

Header{

  grid-area: header;


}

Nav{
grid-area: sidebar;

}

Main{

  grid-area: main;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(34, 34, 34, 0.801);
  height: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
