.container{
    
      display: grid;
      grid-gap: 10px 20px;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr auto;
    margin-right: 100px;

    width: 100%;
    }

    input[type="radio"]{
font-size:60px;
margin-bottom: 10px;
 height:35px; width:35px;
    }

label{
grid-column: 1/2;
margin-top: auto;
margin-bottom: auto;
font-size:large; 
}

input{
  font-size:large;
grid-column: 2/4;
padding-bottom: 10px;
}

input[type="text"]{
  font-size:large;


height: 20px;
}

#textes{
  grid-column: 2/4;
 
}


    
    
    
    .mnaform{
      padding: 40px 40px 40px 40px;
      display: grid;
      border-width: 15px;
      grid-gap: 25px 10px;
      border-style:none;
      border-radius: 25px;
      grid-area:topleft;
      width:fit-content(100%);
      height:fit-content(100%);
      border-color:#eb7c32;
    margin-right: 520px;
      background-color: rgb(224, 216, 216);
     
      grid-template-columns:   fit-content(100%);
                   
    }

    #size{
 
    }
    


  
    #input{width: 70;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:5em;
    margin-top:0em;
    border: 0px solid rgba(0, 0, 0, 0.829);
    border-radius: 8px;
    font-family: "Times New Roman", Times, serif;
    font-size:large;
    }
    
   
    
    #class{
background-color: rgba(0, 0, 0, .7)

    }


    
    
    
    
      button.bChange{
      grid-area: bottomleft;
      margin-left:10em;
      background:lightgrey;
      font-family:Helvetica;
      font-weight: bold;
      border-color:blue;
      border-radius: 5px;
      margin-top:5em;
      width:200px;
      height:20%;
      padding:10px;
      position: relative;
      text-align: center;
    
    }
    
    
    
    
    
    #Header{
      
      margin-left: auto;
      margin-right: auto; 
      text-align: right;
    
     
      font-size:2.5em;
      font-family: "Times New Roman", Times, serif;
    }

    #submit_button{

background-color: #9c9a99;
      border: 2px solid #eb7c32;
      margin-bottom: 5px;
    }
    

    select{
      height:35px;
      line-height:40px;
      font-size: 30px;
     


    }
   
    