.container{

  display: grid;
  grid-gap: 10px 20px;
  grid-template-rows: 100px 1fr auto;
  grid-template-columns: 1fr 200px;

}
.bodyf{
  padding-top:100px; 
  padding-left: 550px;

 background-color: rgba(0, 0, 0, .7)
   
}





.inputform{
  grid-row: 1/ 4;
  grid-column: 2 / 4;
  display: grid;
  border-style:solid;
  border-radius: 25px;
  grid-area:topmiddle;
  width:fit-content(100%);
  height:fit-content(100%);
  border-color:#eb7c32;
  margin-top:0em;
  margin-right:250px;
  background-color: #e4e4e4;
  align-items: center;
  justify-content: center;
  grid-template-columns: fit-content(100%) fit-content(100%);
	grid-template-rows: fit-content(100%);
  
               
}

#input{width: 70;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-left:5em;
margin-top:0em;
border: 0px solid red;
border-radius: 8px;
font-family: "Times New Roman", Times, serif;

}

#advice{width: 50;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  
  border-radius: 4px;
  box-sizing: border-box;
 
  margin-top:1.9em;
  
  }



label{
  display: block;
  width: 100%;

  
  float: middle; width: 15em; 
  margin-left: 5em;
  }




  button.bChange{
  grid-area: bottomleft;
  margin-left:10em;
  background:lightgrey;
  font-family:Helvetica;
  font-weight: bold;
  border-color:blue;
  border-radius: 5px;
  margin-top:5em;
  width:200px;
  height:20%;
  padding:10px;
  position: relative;
  text-align: center;

}


.inputboxpassword{
  grid-area: bottomright;
  height:25px;
  width:20em;
  border-color:blue;
  margin-left:15em;
  margin-top:15em;
  background-color: white;

}

#newpassword{
  grid-area:bottomright;
  height:10px;
  width:20em;
  margin-bottom:10em;
 
}

#changeButton{

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:11em;
}

.oldpassword{
  grid-area:topright;
  margin-top:78em;
  background-color: rgb(21, 255, 0);
}

#Header{
  

  text-align: center;

 
  font-size:xx-large;
  font-family: "Times New Roman", Times, serif;
}

#oldpassword{

padding-top: 2em;

}
